body {
    background: url(../images/trivia\ page.png) no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0 40px 0 40px;
    margin: 0 20px 0 20px;
}

.btn {
    padding: 10px 100px;
    margin-bottom: 0;
    margin-top: 1000px;
    background-color: rgb(233, 79, 79);
    font-size: 24px;
    color: rgb(24, 100, 172);
    margin-left: 350px;
    
}